<nav>
    <img src="logo.png" alt="logo" width="4%" />
    <a class="home" style="width: 45rem;" href="/">Home</a>
    <ul>
      <li>
        <a href="/nationaltreasure">NationalTreasure</a>
      </li>
      <li>
        <a href="/journey">Journey</a>
      </li>
      <li>
        <a href="/jumanji">Jumanji</a>
      </li>
      <li>
        <a href="/harrypotter">HarryPotter</a>
      </li>
      <li>
        <a href="/fallen">Fallen</a>
      </li>
    </ul>
  </nav>