<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
  <div class="box">
    <center><h1>Action Thriller Movies</h1></center></br></br>
    
    
    <div style="text-align: center;">
      <p>Olympus Has Fallen (2013)</br></br>
        
        Secret Service agent Mike Banning finds himself trapped inside the White House in the wake of a terrorist attack and works with national security to rescue the President from his kidnappers.</br>

        Director: Antoine Fuqua</br>
        Writers: Creighton RothenbergerKatrin Benedikt</br>
        Stars: Gerard Butler Aaron Eckhart Morgan Freema
      </p></br></br>
      <img src="ol.jpg" alt="Adventure" />&nbsp;
     
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt2302755/mediaviewer/rm373634816/?ref_=tt_ov_i">View</a></button>&nbsp;
      
    </br>
  </br>
      <p>London Has Fallen (2016)</br></br>
        
        In London for the Prime Minister's funeral, Mike Banning is caught up in a plot to assassinate all the attending world leaders.</br>.

        Director: Babak Najafi</br>
        Writers: Creighton Rothenberger(based on characters created by)Katrin Benedikt(based on characters created by)Christian Gudegast(screenplay by)</br>
        Stars: Gerard Butler Aaron Eckhart Morgan Freeman
      </p></br></br>
      <img src="ln.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt3300542/mediaviewer/rm2285037312/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Angel Has Fallen (2019)</br></br>
        
        Mike Banning is framed for the attempted assassination of the President and must evade his own agency and the FBI as he tries to uncover the real threat.</br>

        Director: Ric Roman Waugh</br>
        Writers: Robert Mark Kamen(screenplay by)Matt Cook(screenplay by)Ric Roman Waugh(screenplay by)</br>
        Stars: Gerard Butler Frederick Schmidt Danny Huston
      </p></br></br>
      <img src="an.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt6189022/mediaviewer/rm3986854145/?ref_=tt_ov_i">View</a></button>
  
    </br>
  </br>
      <p>World War Z (2013)</br></br>
        
        Former United Nations employee Gerry Lane traverses the world in a race against time to stop a zombie pandemic that is toppling armies and governments and threatens to destroy humanity itself.</br>

        Director: Marc Forster</br>
        Writers: Matthew Michael Carnahan(screenplay)Drew Goddard(screenplay)Damon Lindelof(screenplay)</br>
        Stars: Brad Pitt Mireille Enos Daniella Kertesz
      </p></br></br>
      <img src="z.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0816711/mediaviewer/rm2831942144/?ref_=tt_ov_i">View</a></button></br></br>
      <!-- <h2 style="float: right;margin-top: 2%;"><a href="/home"> Back to Home </a></h2>  -->
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>