<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>  
  <%- include('../partials/navbar'); %>
</header>

<main>
  <div class="box">
    <center><h1>Adventure and Fantacy Movies</h1></center></br></br>
   

    <div style="text-align: center;">
      <p>Harry Potter and the Sorcerer's Stone (2001)</br></br>
        
        An orphaned boy enrolls in a school of wizardry, where he learns the truth about himself, his family and the terrible evil that haunts the magical world.</br>

        Director: Chris Columbus</br>
        Writers: J.K. Rowling(novel)Steve Kloves(screenplay)</br>
        Stars: Daniel Radcliffe Rupert Grint Richard Harris
      </p></br></br>
      <img src="hp1.jpg" alt="Adventure" />&nbsp;
     
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0241527/mediaviewer/rm683213568/?ref_=tt_ov_i">View</a></button>&nbsp;
      
    </br>
  </br>
      <p>Harry Potter and the Chamber Of Secrets (2002)</br></br>
        
        An ancient prophecy seems to be coming true when a mysterious presence begins stalking the corridors of a school of magic and leaving its victims paralyzed.</br>

        Director: Chris Columbus</br>
        Writers: J.K. Rowling(novel)Steve Kloves(screenplay)</br>
        Stars: Daniel Radcliffe Rupert Grint Emma Watson
      </p></br></br>
      <img src="hp2.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0295297/mediaviewer/rm1029675264/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Harry Potter and the Prizoner of Azkaban (2004)</br></br>
        
        Harry Potter, Ron and Hermione return to Hogwarts School of Witchcraft and Wizardry for their third year of study, where they delve into the mystery surrounding an escaped prisoner who poses a dangerous threat to the young wizard.</br>

        Director: Alfonso Cuarón</br>
        Writers: J.K. Rowling(novel)Steve Kloves(screenplay)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="hp3.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0304141/mediaviewer/rm3241184256/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Harry Potter and the Goblet Of Fire (2005)</br></br>
        
        Harry Potter finds himself competing in a hazardous tournament between rival schools of magic, but he is distracted by recurring nightmares.</br>

        Director: Mike Newell</br>
        Writers: Steve Kloves(screenplay)J.K. Rowling(novel)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="hp4.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0330373/mediaviewer/rm436509952/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Harry Potter and the Order Of Phoenix (2007)</br></br>
        
        With their warning about Lord Voldemort's return scoffed at, Harry and Dumbledore are targeted by the Wizard authorities as an authoritarian bureaucrat slowly seizes power at Hogwarts.</br>

        Director: David Yates</br>
        Writers: Michael Goldenberg(screenplay)J.K. Rowling(novel)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="hp5.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0373889/mediaviewer/rm103520512/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Harry Potter and the Half Blood Prince (2009)</br></br>
        
        As Harry Potter begins his sixth year at Hogwarts, he discovers an old book marked as "the property of the Half-Blood Prince" and begins to learn more about Lord Voldemort's dark past.</br>

        Director: David Yates</br>
        Writers: Steve Kloves(screenplay)J.K. Rowling(novel)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="hp6.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0417741/mediaviewer/rm282560512/?ref_=tt_ov_i">View</a></button>
  
    </br>
  </br>
      <p>Harry Potter and the Deathly Hallows Part 1 (2010)</br></br>
        
        As Harry, Ron, and Hermione race against time and evil to destroy the Horcruxes, they uncover the existence of the three most powerful objects in the wizarding world: the Deathly Hallows.</br>

        Director: David Yates</br>
        Writers: Steve Kloves(screenplay)J.K. Rowling(novel)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="hp7.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0926084/mediaviewer/rm706774528/?ref_=tt_ov_i">View</a></button>
    
    </br>
  </br>
      <p>Harry Potter and the Deathly Hallows Part 2 (2011)</br></br>
        
        Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.</br>

        Director: David Yates</br>
        Writers: Steve Kloves(screenplay)J.K. Rowling(novel)</br>
        Stars: Daniel Radcliffe Emma Watson Rupert Grint
      </p></br></br>
      <img src="download.jpg" />&nbsp;
 
      <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt1201607/mediaviewer/rm3179585537/?ref_=tt_ov_i">View</a></button></br></br>
      <!-- <h2 style="float: right;margin-top: 2%;"><a href="/home"> Back to Home </a></h2> -->
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>