<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="box">
      <center><h1>Adventure Movies</h1></center></br></br>
     
  
      <div style="text-align: center;">
        <p>Journey to the Center Of The Earth (2008)</br></br>
        
            On a quest to find out what happened to his missing brother, a scientist, his nephew and their mountain guide discover a fantastic and dangerous lost world in the center of the earth.</br>
    
            Director: Eric Brevig</br>
            Writers: Michael D. Weiss(screenplay)Jennifer Flackett(screenplay)Mark Levin(screenplay)</br>
            Stars: Brendan Fraser Josh Hutcherson Anita Briem
          </p></br></br>
          <img src="j1.jpg" />&nbsp;
     
          <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0373051/mediaviewer/rm2092799744/?ref_=tt_ov_i">View</a></button>
        
        </br>
      </br>
          <p>Journey 2: The Mysterious Island (2012)</br></br>
            
            Sean Anderson partners with his mom's husband on a mission to find his grandfather, who is thought to be missing on a mythical island.</br>
    
            Director: Brad Peyton</br>
            Writers: Brian Gunn(screenplay)Mark Gunn(screenplay)Richard Outten(story)</br>
            Stars: Josh Hutcherson Dwayne Johnson Michael Caine
          </p></br></br>
          <img src="j2.jpg" />&nbsp;
     
          <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt1397514/mediaviewer/rm3760042496/?ref_=tt_ov_i">View</a></button>
        
      </div>
      
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>