<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="box">
      <center><h1>Adventure Movies</h1></center></br></br>
     
  
      <div style="text-align: center;">
        <p>Jumanji: Welcome to the Jungle (2017)</br></br>
        
            Four teenagers are sucked into a magical video game, and the only way they can escape is to work together to finish the game.</br>
    
            Director: Jake Kasdan</br>
            Writers: Chris McKenna(screenplay by)Erik Sommers(screenplay by)Scott Rosenberg(screenplay by)</br>
            Stars: Dwayne Johnson Karen Gillan Kevin Hart
          </p></br></br>
          <img src="ju1.jpg" />&nbsp;
     
          <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt2283362/mediaviewer/rm1932347904/?ref_=tt_ov_i">View</a></button>
        
        </br>
      </br>
          <p>Jumanji: The Next Level (2019)</br></br>
            
            In Jumanji: The Next Level, the gang is back but the game has changed. As they return to rescue one of their own, the players will have to brave parts unknown from arid deserts to snowy mountains, to escape the world's most dangerous game.</br>
    
            Director: Jake Kasdan</br>
            Writers: Jake KasdanJeff PinknerScott Rosenberg</br>
            Stars: Dwayne Johnson Jack Black Kevin Hart
          </p></br></br>
          <img src="ju2.jpg" />&nbsp;
     
          <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt7975244/mediaviewer/rm2583596545/?ref_=tt_ov_i">View</a></button></br></br>
          <!-- <h2 style="float: right;margin-top: 2%;"><a href="/home"> Back to Home </a></h2> -->
      </div>
      
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>