<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/navbar'); %>
</header>

<main>
    <div class="box">
      <center><h1>Adventure Movies</h1></center></br></br>
     
  
      <div style="text-align: center;">
        <p>National Treasure (2004)</br></br>
          
          A historian races to find the legendary Templar Treasure before a team of mercenaries.</br>
          
          Director: Jon Turteltaub</br>
          Writers: Jim Kouf(screenplay)Cormac Wibberley(screenplay)Marianne Wibberley(screenplay)</br>
          Stars: Nicolas Cage Diane Kruger Justin Bartha
        </p></br></br>
        <img src="nt1.jpg" alt="Adventure" />&nbsp;
       
        <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/video/vi3890151705?playlistId=tt0368891&ref_=tt_ov_vi">View</a></button>&nbsp;
        
      </br>
    </br>
        <p>National Treasure: Book Of Secrets (2007)</br></br>
          
          Benjamin Gates must follow a clue left in John Wilkes Booth's diary to prove his ancestor's innocence in the assassination of Abraham Lincoln.</br>
  
          Director: Jon Turteltaub</br>
          Writers: Marianne Wibberley(screenplay)Cormac Wibberley(screenplay)Gregory Poirier(story)</br>
          Stars: Nicolas Cage Diane Kruger Justin Bartha
        </p></br></br>
        <img src="nt2.jpg" />&nbsp;
   
        <button style="border: 1px solid greenyellow; border-radius: 1rem;"><a href="https://www.imdb.com/title/tt0465234/mediaviewer/rm1075614464/?ref_=tt_ov_i">View</a></button>
      </div>
      
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>